@use "sass:math";
@import 'bootstrap-scss/functions';
@import 'bootstrap-scss/mixins';
@import './../../../../variables';
@import './../../../../bootstrap-variables';

:host {
    display: block;
    width: 100%;
    background-color: $theme-main-color;
    min-height: 8.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;

    @include media-breakpoint-down(xs) {
        display: flex;
        align-items: stretch;
        min-height: 5.2rem;
    }

    .container {
        @include media-breakpoint-down(xs) {
            display: flex;
            align-items: stretch;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
        align-items: stretch;
        width: 100%;
        flex-basis: 100%;
    }

    &__logo {
        color: $theme-secondary-color;

        @include media-breakpoint-down(xs) {
            padding-right: math.div($grid-gutter-width, 2);
            padding-bottom: 1rem;
            padding-top: 1rem;
            font-size: 3rem;
            flex-shrink: 0;
        }
                    
        @include media-breakpoint-up(sm) {
            padding-bottom: 1.5rem;
            padding-top: 1.5rem;
            font-size: 5.5rem;
        }

        app-icon {
            display: block;
        }
    }

    &__navigation {
        @include media-breakpoint-down(xs) {
            flex-grow: 1;
            margin-right: math.div($grid-gutter-width, -2);
            display: flex;
            align-items: stretch;
        }

        &-menu {
            @include media-breakpoint-down(xs) {
                display: flex;
                align-items: stretch;
                flex-grow: 1;
            }

            &-txt {
                @include media-breakpoint-down(xs) {
                    display: none;
                }
            }

            ul {
                display: flex;
                padding: 1rem;
                background-color: $theme-secondary-color;
                    
                @include media-breakpoint-up(sm) {
                    border-radius: $border-radius;
                }

                @include media-breakpoint-down(xs) {
                    justify-content: flex-end;
                }
            }

            li {
                &:not(:last-child) {
                    margin-right: 1rem;
                }

                app-icon {
                    vertical-align: middle;
                    
                    @include media-breakpoint-up(sm) {
                        margin-right: 0.5rem;
                    }
                }

                .badge {
                    margin-left: 1rem;
                }
            }
        }
    }
}