@import 'bootstrap-scss/functions';
@import 'bootstrap-scss/mixins';
@import '../variables';
@import '../bootstrap-variables';

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: 10rem;

    @include media-breakpoint-down(xs) {
        padding-top: 6.7rem;
    }
}
