:host {
    display: block;

    [class*='col-'] {
        display: flex;
        align-items: stretch;
    }

    .pagination-wrap {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
