<div class="container">
    <div class="users__search"></div>
    <div class="users__list">
        <table>
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Id</th>
                    <th>Url</th>
                    <th>Type</th>
                    <th>Score</th>
                    <th>Add to fav</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of list">
                    <th><a [href]="user.url">{{ user.login }}</a></th>
                    <th>{{ user.id }}</th>
                    <th>{{ user.url }}</th>
                    <th>{{ user.type }}</th>
                    <th>{{ user.score }}</th>
                    <th>
                        <button type="button" class="btn btn-primary">
                            <app-icon [iconName]="'favorites'"></app-icon>
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>